<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyk.users.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zyk.users.entity.UserInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_photo" property="userPhoto" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="user_account" property="userAccount" jdbcType="BIGINT" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="qr_code" property="qrCode" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="robot_sno" property="robotSno" jdbcType="VARCHAR" />
    <result column="upuser_id" property="upuserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="regional" property="regional" jdbcType="VARCHAR" />
    <result column="user_role" property="userRole" jdbcType="VARCHAR" />
    <result column="re_code" property="reCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_photo, nick_name, user_account, user_password, qr_code, sex, mobile_phone, 
    real_name, wechat, qq, robot_sno, upuser_id, create_time, update_time, remark, regional, 
    user_role, re_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from users_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from users_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zyk.users.entity.UserInfo" >
    insert into users_info (id, user_photo, nick_name, 
      user_account, user_password, qr_code, 
      sex, mobile_phone, real_name, 
      wechat, qq, robot_sno, 
      upuser_id, create_time, update_time, 
      remark, regional, user_role, 
      re_code)
    values (#{id,jdbcType=BIGINT}, #{userPhoto,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{userAccount,jdbcType=BIGINT}, #{userPassword,jdbcType=VARCHAR}, #{qrCode,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{mobilePhone,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{wechat,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{robotSno,jdbcType=VARCHAR}, 
      #{upuserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{regional,jdbcType=VARCHAR}, #{userRole,jdbcType=VARCHAR}, 
      #{reCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zyk.users.entity.UserInfo" >
    insert into users_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userPhoto != null" >
        user_photo,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="userAccount != null" >
        user_account,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="qrCode != null" >
        qr_code,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="mobilePhone != null" >
        mobile_phone,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="wechat != null" >
        wechat,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="robotSno != null" >
        robot_sno,
      </if>
      <if test="upuserId != null" >
        upuser_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="regional != null" >
        regional,
      </if>
      <if test="userRole != null" >
        user_role,
      </if>
      <if test="reCode != null" >
        re_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userPhoto != null" >
        #{userPhoto,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null" >
        #{userAccount,jdbcType=BIGINT},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="qrCode != null" >
        #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="robotSno != null" >
        #{robotSno,jdbcType=VARCHAR},
      </if>
      <if test="upuserId != null" >
        #{upuserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="regional != null" >
        #{regional,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        #{userRole,jdbcType=VARCHAR},
      </if>
      <if test="reCode != null" >
        #{reCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyk.users.entity.UserInfo" >
    update users_info
    <set >
      <if test="userPhoto != null" >
        user_photo = #{userPhoto,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null" >
        user_account = #{userAccount,jdbcType=BIGINT},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="qrCode != null" >
        qr_code = #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="robotSno != null" >
        robot_sno = #{robotSno,jdbcType=VARCHAR},
      </if>
      <if test="upuserId != null" >
        upuser_id = #{upuserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="regional != null" >
        regional = #{regional,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        user_role = #{userRole,jdbcType=VARCHAR},
      </if>
      <if test="reCode != null" >
        re_code = #{reCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyk.users.entity.UserInfo" >
    update users_info
    set user_photo = #{userPhoto,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      user_account = #{userAccount,jdbcType=BIGINT},
      user_password = #{userPassword,jdbcType=VARCHAR},
      qr_code = #{qrCode,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      robot_sno = #{robotSno,jdbcType=VARCHAR},
      upuser_id = #{upuserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      regional = #{regional,jdbcType=VARCHAR},
      user_role = #{userRole,jdbcType=VARCHAR},
      re_code = #{reCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>